<div class="header">
    <h1>Привет, /имя/!</h1>
    <div class="profile"></div>
    <h3>Сегодня, /дата, например, 16 апреля (среда) 2025/</h3>
    <input mask="00-00-000" />
    <button mat-icon-button color="primary">bim bom bam</button>
</div>

<div class="body">
    <a href="test">Дела на сегодня</a>
    <a href="test">Дела на неделю</a>
    <a href="test">Последние дела</a>
    <a href="test">Срочные дела</a>
    <a href="test">Беклог</a>
    <button>Добавить дело</button>
    <a href="test">Статистика</a>

    <form [formGroup]="formGroup">
        <dynamic-basic-form [group]="formGroup" [model]="formModel"></dynamic-basic-form>
    </form>
</div>